body {
  background: #bdffa6;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  text-align: center;
}

#newBookForm {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

input {
  margin: 15px 5px;
}

.popForm {
  background: aqua;
  padding: 20px;
  margin: 30px 0;
  border: 1px solid black;
}

#library-table {
  background: aqua;
  padding: 15px;
  border: 1px solid black;
  border-collapse: collapse;
  margin: 25px 15px;
}

#library-table td,
#library-table th {
  border-bottom: 1px solid black;
  padding: 10px;
}

#library-table tr:nth-child(even) {
  background-color: #84ffff;
}

button {
  background-color: #1abc9c;
  border: none;
  color: #fff;
  padding: 12px 24px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
  transition: background-color 0.3s ease-in-out;
}

button:hover {
  background-color: #16a085;
}
